# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Repository checkout
        uses: actions/checkout@v4
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'adopt'
      - name: OWASP Dependency Checks
        env:
          API_KEY: ${{ secrets.OWASP_API_KEY }}
          OSS_USER: ${{ secrets.OSS_USER }}
          OSS_PASS: ${{ secrets.OSS_API_KEY }}
        run: mvn --batch-mode dependency-check:check
          -DnvdApiKey=$API_KEY
          -DossIndexServerId=ossindex
          -DossIndexUsername=$OSS_USER
          -DossIndexPassword=$OSS_PASS
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots package
      - name: Code coverage with Codecov
        uses: codecov/codecov-action@v4
